extends layout

block stylesheet
    link(rel="stylesheet", href="/lib/css/swiper.min.css")
    link(rel="stylesheet", href="/stylesheets/index.css")

block content
    //- banner 轮播
    .swiper-banner
        .swiper-wrapper
            .swiper-slide
                img(src="/images/banner1.jpg", alt="", srcset="")
            .swiper-slide
                img(src="/images/banner2.jpg", alt="", srcset="")
            .swiper-slide
                img(src="/images/banner3.jpg", alt="", srcset="")
        .swiper-pagination

    //- 展示
    .showlist

    //- 简介
    .abstract
        .abcon.centerBox
            .warp.left
                h4 公司新闻
                ul
                    li 
                        a(href="")
                            span.text 干式变压器局部放电怎么样
                            span.date 2018-06-29
                    li 
                        a(href="")
                            span.text 干式变压器局部放电怎么样
                            span.date 2018-06-29
                    li 
                        a(href="")
                            span.text 干式变压器局部放电怎么样
                            span.date 2018-06-29
                    li 
                        a(href="")
                            span.text 干式变压器局部放电怎么样
                            span.date 2018-06-29
                    li 
                        a(href="")
                            span.text 干式变压器局部放电怎么样
                            span.date 2018-06-29

            .warp.right
                h4 公司简介
                .wrcon
                    img(src="/images/banner3.jpg")
                    p 
                        span XXX有限公司拥有较为强大的生产能力和高效率的营销队伍。产品包括110KV、220KV大型超高压变压器和35KV以下各种干式变压器、油浸式变压器、非晶合金变压器、预装式变电站、光伏/风力变压器、有载调容变压器、地理变压器、高过载电力变压器、除尘变压器、船用变压器、SVG连接变压器.....

            .warp.bottom
                p 
                    span 友情链接：
                    a(href="") 百度
                    a(href="") 搜搜
                    a(href="") 谷歌
                    a(href="") 腾讯

block javascript
    script(src="/lib/js/swiper.min.js")
    script(src="/javascripts/index.js")
