doctype html
html
    head
        title= title
        link(rel="shortcut icon", href="/images/siteicon.png")
        link(rel='stylesheet', href='/stylesheets/main.css')
        block stylesheet
    body
        header.centerBox
            .log 123132
            nav 123123

        block content

        footer
            .ft-con.centerBox
                .fleft
                    .navlist
                        a(href="") 网站首页
                        span |
                        a(href="") 关于我们
                        span |
                        a(href="") 产品展示
                        span |
                        a(href="") 新闻咨询
                        span |
                        a(href="") 联系我们
                    p.mt
                    p 联系邮箱：contact@fkadjkhsf.co
                    p 联系地址：XXX省XXX市XXX县XXX路XXX号
                    p.mt
                    p ©2018 - 版权所有
                    p 手机版 |本站使用凡科建站搭建 | 管理登录

                .fright
                    .hotline
                        p.hotTilte 全国客户服务热线</br>Customer Hotline
                        p.hotCon 000-000-0000
                    .search
                        

        block javascript
