
/* 子页面头部banner */
.pageban {
    width: 100%;
    // height: 245px;
    font-size: 0;

    img {
        width: 100%;
        height: 100%;
    }
}

.subpub {
    background: #fff;
    padding: 40px 0 60px;

    .subwarp {
        font-size: 0;

        .subleft {
            display: inline-block;
            vertical-align: top;
            width: 240px;
            margin-right: 12px;

            .slitem {
                border: 1px solid #eee;

                h3 {
                    height: 60px;
                    line-height: 60px;
                    font-size: 16px;
                    color: #fff;
                    padding-left: 20px;

                    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0072b8+3,7db9e8+100 */
                    background: #0072b8; /* Old browsers */
                    background: -moz-linear-gradient(45deg, #0072b8 3%, #7db9e8 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(45deg, #0072b8 3%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(45deg, #0072b8 3%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0072b8', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
                }
                
                ul {
                    padding: 10px;
                }

                &.bot {
                    margin-bottom: 10px;
                }

                &.info { // 信息
                    li {
                        line-height: 30px;
                        font-size: 13px;
                    }
                }

                &.list {
                    li {
                        height: 45px;
                        line-height: 45px;
                        border-bottom: 1px dashed #ccc;

                        &:last-child {
                            border-bottom: none;
                        }

                        a {
                            display: inline-block;
                            width: 100%;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;

                            &:hover {
                                color: #1e50ae;
                            }
                        }
                    }
                }
            }
        }

        .subright {
            display: inline-block;
            vertical-align: top;
            width: 846px;
            border: 1px solid #eee;

            nav {
                height: 30px;
                line-height: 30px;
                text-align: right;
                background: #f9f9f9;
                border-bottom: 1px solid #eee;
                padding: 0 30px;
                font-size: 14px;

                a:hover {
                    color: #1e50ae;
                }

                span.active {
                    color: #333;
                }
            }
        }
    }
}

/* 组件 */
.com-pager {
    display: inline-block;
    padding: 5px 0;

    .paging,
    .pagdis,
    .pagact {
        margin: 0 10px;
        font-size: 14px;
        line-height: 30px;
    }

    .paging {
        color: #666;

        &:hover {
            color: #1e50ae;
        }
    }

    .pagdis {
        color: #999;
    }

    .pagact {
        color: #1e50ae;
    }
}