extends ../layout

block stylesheet
    link(rel="stylesheet", href="/stylesheets/subpub.css")
    link(rel="stylesheet", href="/stylesheets/news.css")

block content
    .pageban
        img(src="/images/pageban/news.jpg")


block javascript