extends ../layout

block stylesheet
    link(rel="stylesheet", href="/stylesheets/subpub.css")
    link(rel="stylesheet", href="/stylesheets/news.css")

block content
    .pageban
        img(src="/images/pageban/news.jpg")

    .subpub
        .subwarp.centerBox
            .subleft
                .slitem.list.bot
                    h3
                        span 产品展示 Product
                    ul
                        li 
                            a(href="") 干式变压器
                        li 
                            a(href="") 油浸式变压器
                        li 
                            a(href="") 箱式变压器
                        li 
                            a(href="") 特种变压器
                        li 
                            a(href="") 成套开关柜

                .slitem.info
                    h3
                        span 联系方式 Contact
                    ul
                        li 联系QQ：258506508
                        li 手机号码：130000000
                        li 联系邮箱：contact@fkadjkhsf.co
                        li 联系电话：020-000000  
                        li 联系地址：XXX省XXX市XXX县XXX路

            .subright
                nav
                    span 当前位置：&nbsp;
                    a(href="/") 网站首页
                    span &nbsp;&gt;&nbsp;
                    span.active 新闻资讯

                .news
                    ul.newlist
                        - newsInfo.forEach((item, index) => {
                            li
                                a.date 
                                    - var year = item.date.split('/')[0];
                                    - var month = item.date.split('/')[1] + '/' + item.date.split('/')[2];
                                    span.month #{month} 
                                    span.year #{year}
                                .right
                                    p.title
                                        a(href="/news-item?index=#{index + (pageNum -1) * size}")= item.title
                                    p.con= item.describe                            
                        - });

                    .pagerbox
                        include ../component/pager

block javascript